.mobile-overlay {
    position: absolute;
    right: 100%;
    background-color: white;
}

.overlay {
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 2;
    min-width: 100%;
    min-height: 100vh;
}
